.idea
.venv
**/.venv/
**/node_modules/
**/.next/
**/__pycache__/
*.py[cod]
*.egg-info/
sistem_pendukung_keputusan_saham.egg-info
backend/build
backend/Python/
.ruff_cache/
.DS_Store
../.DS_Store
.vscode
.fastapicloud/